.top-header {
      background: #121212;
      margin: 0;

}
.search-icon{
      position: absolute;
      top: 16px;
      right: 16px;
      float: right;
}
.zuka-search{
      height: 25px;
      background: #121212;
      border: none;
      border-bottom: 1px solid #323232;
}
.search-input{
      position: absolute;
}
#bs-example-navbar-collapse-1 li{
      padding: 0 10px;
      padding-top: 14px;
      cursor: pointer;
}
