/* For mobile phones: */

.zuka-main-area{
    background-image: url(../images/homepagebg.jpg);
    background-position: center;
    background-size: cover;
     height : 93vh;
}
.buy-now-buton{
    background-color: white;
    border: 1.5px solid #956241;
    border-radius: 17px;
    color: #956241;
    font-size: 17px;
    padding: 6px 30px;
    line-height: 28px;
}
.home-page-content{
    padding: 70px 0 70px 0;
    height: 730px;
}
.home-description{
 width: 70%;
    /* text-align: center; */
    margin: 0 auto;
    padding-bottom: 12px;
    font-family: segoeui;
    font-weight: bold;
    color: #787878;
}
.home-heading{
    color: #5f3a23;
    margin-bottom: 20px;
    font-family: bernhc;
    font-weight: bold;
    font-size: 45px;
}
.home-heading h1{

    font-size: 45px;
}
.header-underline{
    width: 260px;
    border-bottom: 1px solid #ededeb;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */

    .zuka-main-area{
        background-image: url(../images/homepagebg.jpg);
        background-position: center;
        background-size: cover;
         height : 93vh;
    }
    .buy-now-buton{
        background-color: white;
        border: 1.5px solid #956241;
        border-radius: 17px;
        color: #956241;
        font-size: 17px;
        padding: 6px 30px;
        line-height: 28px;
    }
    .home-page-content{
        padding: 70px 0 70px 0;
        height: 730px;
    }
    .home-description{
     width: 70%;
        /* text-align: center; */
        margin: 0 auto;
        padding-bottom: 12px;
        font-family: segoeui;
        font-weight: bold;
        color: #787878;
    }
    .home-heading{
        color: #5f3a23;
        margin-bottom: 20px;
        font-family: bernhc;
        font-weight: bold;
        font-size: 45px;
    }
    .home-heading h1{

        font-size: 45px;
    }
    .header-underline{
        width: 260px;
        border-bottom: 1px solid #ededeb;
        margin: 0 auto;
    }

  }
@media only screen and (min-width: 768px) {
      /* For desktop: */

      .zuka-main-area{
          background-image: url(../images/homepagebg.jpg);
          background-position: center;
          background-size: cover;
           height : 93vh;
      }
      .buy-now-buton{
          background-color: white;
          border: 1.5px solid #956241;
          border-radius: 17px;
          color: #956241;
          font-size: 17px;
          padding: 6px 30px;
          line-height: 28px;
      }
      .home-page-content{
          padding: 70px 0 70px 0;
          height: 730px;
      }
      .home-description{
       width: 70%;
          /* text-align: center; */
          margin: 0 auto;
          padding-bottom: 12px;
          font-family: segoeui;
          font-weight: bold;
          color: #787878;
      }
      .home-heading{
          color: #5f3a23;
          margin-bottom: 20px;
          font-family: bernhc;
          font-weight: bold;
          font-size: 45px;
      }
      .home-heading h1{

          font-size: 45px;
      }
      .header-underline{
          width: 260px;
          border-bottom: 1px solid #ededeb;
          margin: 0 auto;
      }


}
